@import "tailwindcss";

html{
  padding: 0;
}

/*BARRA DEL SCROLLPANEL */
.p-scrollpanel-content {
    padding-right: 0px; /* Espacio entre barra y borde */
}

.p-scrollpanel .p-scrollpanel-bar{
  background-color: var(--color-cyan-500) ;
}

.p-card-content{
  padding: 0px;
}

.p-icon-field, .p-icon-field-right{
  width: 100%;
}

.p-password-input.p-inputtext.p-component.p-variant-filled{
  width: 100%;
}

.contrasena input{
  width: 100%;
}

.p-tabview-nav{
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/*CALENDARIO*/

.calendar-small {
  width: 200px;        /* ancho del popup */
}

.calendar-small .p-datepicker {
  font-size: 0.3rem;  /* reduce todo */
}

.calendar-small .p-datepicker-calendar td {
  padding: 0.1rem;    /* reduce celdas */
}

.p-hour-picker span, .p-minute-picker span, .p-ampm-picker span {
  font-size: 18px;  /* reduce texto */
}