@import "tailwindcss";

html{
  padding: 0;
}

/*BARRA DEL SCROLLPANEL */
.p-scrollpanel-content {
    padding-right: 0px; /* Espacio entre barra y borde */
}

.p-scrollpanel .p-scrollpanel-bar{
  background-color: var(--color-cyan-500) ;
}

.p-card-content{
  padding: 0px;
}

.p-icon-field, .p-icon-field-right{
  width: 100%;
}

.p-password-input.p-inputtext.p-component.p-variant-filled{
  width: 100%;
}